<div class="container-fluid">
    <div class="row m-3 p-2 ">
        <div class="d-flex flex-row ">
            <!-- <div class="px-2">
                <dx-text-box [value]="enteredValue" (onValueChanged)="onValueChanged($event)"></dx-text-box>
            </div> -->

            <div class="px-2">
                <button class="btn btn-primary" (click)="submit()">submit</button>
            </div>

            <button class="btn btn-primary" (click)="createCategory()">Add Category</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>{{enteredValue}}</h3>
            <div class="card vh-100" (dragover)="onDragOverList($event)" (dragenter)="onDragEnter($event)"
                (dragexit)="onDragExit($event)">
                <div class="card-body">
                    <div class="row" #componentBody></div>
                    <!-- <div class="drop-zone col-xl-6"  *ngIf="isDragOver">Drop here</div>  -->
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card vh-100">
                <div class="card-body">
                    <div class="task" [ngClass]="{'disabled': !item.draggable}" [draggable]="item.draggable"
                        (dragstart)="onDragStart(item)" (dragend)="onDragEnd($event)" *ngFor="let item of fields">
                        {{item.displayName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #userMenu let-user>
    <section class="user-menu p-2 ">
        <dx-form [formData]="currentLayoutData" formoptions="{repaintChangesOnly: true}">
            <dxi-item dataField="LayoutName"></dxi-item>
        </dx-form>
        <div class="d-flex flex-row justify-content-between p-2">
            <div>
                <dx-button text="Save" type="default" (click)="updateLayoutName(user,currentLayoutData)"></dx-button>
            </div>
            <div>
                <dx-button text="Close" type="danger" (click)="close()"></dx-button>
            </div>
        </div>
    </section>
</ng-template>